html{
	min-height:100%;
	position:relative;
}
body{
	background:#465298;
	height:100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		/*background: linear-gradient(
  to bottom,
 #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
);*/
}
@font-face {
    font-family: myName;
    src: url('data/Sweet Sensations Personal Use.ttf');

}

.container{
	width:90%;
	background:#606dbc;
	resize: both;
	overflow:auto;
	/*background:#afc7ed;*/
	min-height:100%;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
}

.heading{

	text-align: center;

}
.heading h2{
	font-family:myName;
	font-size: 5em;
}

nav{
	padding-top:.2em;

}

nav a{
	text-decoration: none;
	font-weight: bold;
	padding-left: 1em;
	padding-right: 1em;
	font-size:1.3em;
	color:#adadad;

}

nav a:hover{
	text-decoration: none;
	color: #e1e9f7;
}
/*nav a:visited{
	text-decoration: none;
	color:#adadad;
}*/

nav a:link{
	text-decoration: none;
	color:#adadad;
}
nav a:active{
	text-decoration: none;
	color:#adadad;
}

#about{
	padding-top:10px;
	text-align: center;
}
#about h2{
	/*font-family: myName;*/
	font-size: 3em;
	font-weight: bold;
}

#about p{
	font-size: 1.2em;
	line-height: 1.5em;
	font-color:white;
}

#projects{
	text-align: center;
}
#projects h2{
	font-size: 3em;
	font-weight: bold;
}
/*projects*/

#thumbnails{
	width:80%;
	display:inline-block;
	list-style-type:none;

}

#thumbnails>li{
	/*float:left;*/
	border: 3px solid;
    border-radius: 5px;
    margin:10px 0;
    background-color:;
    background-color: #ef8b43
	



}
#thumbnails .click{
	background-color:#ea9e67;
}
.projectTitle{

	padding-top:.5em;
	font-size:1.4em;
	text-align:center;
	vertical-align: middle;
	font-weight: 900;


}

/*.navbar-default{
	background-color: red;


}*/